:root {
    --control_bg: rgba(255, 255, 255, 0.02);
    --control_border: rgba(255, 255, 255, 0.07);
    --control_shadow: rgba(0, 0, 0, 0.7)
}

.panel {
    margin: 70px auto;
    padding: 15px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    background-color: var(--control_bg);
}

.button {
    margin: 10px;
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--control_bg);
}

.button p {
    color: var(--textcolor);
    font-family: var(--textfont);
    letter-spacing: 1px;
}
