:root {
    /* text styles */
    --textcolor: rgba(255, 255, 255, 0.85);
    --textfont: 'Iosevka Web', 'M PLUS Rounded 1c';

    --background: rgb(10, 10, 10);
}

body {
    background-color: var(--background);
}

p {
    font-size: 20px;
    color: var(--textcolor);
    font-family: var(--textfont);
    letter-spacing: 1.5px;
}

h1 {
    font-size: 50px;
    color: var(--textcolor);
    font-family: var(--textfont);
    letter-spacing: 3px;
}

h2 {
    font-size: 40px;
    color: var(--textcolor);
    font-family: var(--textfont);
    letter-spacing: 3px;
}

h3 {
    font-size: 30px;
    color: var(--textcolor);
    font-family: var(--textfont);
    letter-spacing: 3px;
}

h4 {
    font-size: 20px;
    color: var(--textcolor);
    font-family: var(--textfont);
    letter-spacing: 3px;
}