@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kiwi+Maru:wght@500&display=swap');

p{
    font-size: 16px;
}

h1{
    font-size: 31px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 25px;
}


.content{
    width: 80%;
    height: auto;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.content-inside{
    padding: 20px;
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    color: white;
}

.assert {
    width: 100%;
    height: auto;
    background-color: rgba(255, 40, 30, 0.18);
    border-radius: 0px 0px 4px 4px;
}

.assert-text {
    font-size: 12px;
    padding: 5px;
    font-family: 'Kiwi Maru', 'Iosevka Web', serif;
    text-align: center;
    color: white;
}
