@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kiwi+Maru:wght@500&display=swap');

p{
    font-size: 17px;
}

h1{
    font-size: 31px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 25px;
}


.content{
    width: 80%;
    height: auto;
    margin: 50px auto;
    background-color: rgba(40, 40, 45, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

.content-inside{
    padding: 20px;
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    color: white;
}